.registration-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 70%;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: bold;
  }
  
  button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .registration-card {
      max-width: 100%;
    }
  }